snippet () "Parentheses surround" A
$1(${2:${VISUAL}})$0
endsnippet

snippet [] "Bracket surround" A
$1[${2:${VISUAL}}]$0
endsnippet

snippet {} "Brace surround" A
$1{${2:${VISUAL}}}$0
endsnippet

snippet <> "Angle surround" A
$1<${2:${VISUAL}}>$0
endsnippet
