snippet () "Parentheses surround" Ai
$1(${2:${VISUAL}})$0
endsnippet

snippet [] "Bracket surround" Ai
$1[${2:${VISUAL}}]$0
endsnippet

snippet {} "Brace surround" Ai
$1{${2:${VISUAL}}}$0
endsnippet

snippet <> "Angle surround" Ai
$1<${2:${VISUAL}}>$0
endsnippet
