snippet aimg "anchored image" 
<a href="${1}">
	<img src="$1" alt="${2}" >
</a>
endsnippet

snippet iso "type setting isotope" i
<sup>${2}</sup>${1}${0}
endsnippet

snippet color "span color" i
<span style="color:${2:red}">${1:${VISUAL}}</span>${0}
endsnippet
	
	
	
