# Facilities
snippet "P&T(?!= %)}" "P&T facility tag" ir
{% facility P&T %}$0
endsnippet

snippet "DARHT(?!= %})" "DARHT facility tag" ir
{% facility DARHT %}$0
endsnippet
	
snippet "LANSCE(?!= %})" "LANSCE facility tag" ir
{% facility LANSCE %}$0
endsnippet

snippet "PF-4(?!= %})" "PF-4 facility tag" ir
{% facility PF-4 %}$0
endsnippet
	
