# LANL Snippets for markdown
extends markdown

snippet BLDG "Building tag" i
{% BLDG $1 $2 %}$0
endsnippet

snippet TA "Technical Area tag" i
{% TA ${1:${VISUAL}} %}$0
endsnippet

snippet FSR "Facility Service Request tag" i
{% FSR ${1:${VISUAL}} %}$0
endsnippet

