# Snippets for organizations
extends markdown, liquid

snippet NA-LA "NA-LA org tag" i
{% org NA-LA %}$0
endsnippet

snippet DNFSB "DNFSB org tag" i
{% org DNFSB %}$0
endsnippet

snippet "DOE(?!= %})" "DOE org tag" br
{% org DOE %}$0
endsnippet
